.section-3 .title-container {
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}

.section-3 .title-container h2 {
    font-size: 42px;
    font-weight: 400;
}

.section-3 .section-body {
    color: #fff;
    min-height: 100vh;
    background-color: rgb(23, 25, 81);
    background-image: url(../../../assets/img/p3.jpeg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-3 .section-body .section-wrapper {
    background-color: rgba(0, 0, 0, 0.407);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
}
