header {
    background-color: rgb(19, 19, 46);
    width: 100vw;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/img/banner2.jpeg);
    background-size: cover;
    flex-wrap: wrap;
}

header h1 {
    font-size: 62px;
    color: rgb(255, 255, 255);
}

header p {
    color: #fff;
    font-weight: 200;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 5% 5% 5% 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/* header .cards-container {
    width: 90%;
    margin-top: 25vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .cards-container .card {
    background-color: rgba(118, 118, 118, 0.87);
    width: 30%;
    height: 100%;
    margin: 0 4%;
    border-radius: 10px;
}

header .cards-container .card.center {
    margin-top: -20vh;
} */

header > div {
    /* background-color: cornflowerblue; */
    width: 40%;
    padding: 5%;
    animation-name: header;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
}

header iframe {
    width: 100%;
    height: 50vh;
}

@keyframes header {
    0% {
        transform: scale(0.2);
    }
    25% {
    }
    50% {
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 900px) {
    header > div {
        width: 90%;
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        animation-duration: 0s;
    }
}
