.section-1 .title-container {
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.section-1 .title-container h2 {
  font-size: 32px;
  font-weight: 400;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  text-align: center;
}

.section-1 .section-body {
  color: #fff;
  min-height: 95vh;
  background-color: rgb(23, 25, 81);
  background-image: url(../../../assets/img/p1.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 .section-body .section-wrapper {
  background-color: rgba(0, 0, 0, 0.527);
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.section-1 .text-content {
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 5% 5% 5% 5%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.img-card {
  width: 400px !important;
  height: auto;
  padding-left: 20px;
}
